body{
    margin:0px;
    padding:0px;
    text-align:center;
    width:100%;
}
/* ラッパーの設定*/
#wrap{
    position:relative;
    width:800px;
    background-color:#FFFFFF;
    text-align:left;
    margin:5px auto;  
    border-style:double;  
}
/* ヘッダーの設定*/
#head{
    width:794px;
    height:115px;
    background-color:#FFFFFF;
    border-style:none;
}
/* 左側の設定*/
#left{
    width:560px;
    word-break:break-all;
    height:600px;
    float:left;
    background-color:#FFFFFF;
    padding:0 20px 0 20px;  
    border-style:double solid double none;
}
/* 右側の設定*/
#right{
    width:197px;
    height:580px;
    float:right;
    text-align:center;
    background-color:#CCFFFF;
    padding:20px 0 0 0;
    border-style:double none double none;
  }

/* はてブタについて */
.info{
  background-color:#f4ffea;
  border-top:1px solid #3399ff;
  border-bottom:1px solid #3399ff;
  border-left:1px solid #3399ff;
  border-right:1px solid #3399ff;
}

/* サブタイトル */
.subtitle {
  color:#ffffff;
  background-color:#809fff;
  border-top:1px solid #cfafaf;
  border-left:1px solid #cfafaf;
}

/* はてブタリスト */
#hatebuta_list{
}

/* Bookmarkリスト */
#bookmark_list{
}

#comment {
  color: #009525;
}

#example_url {
  font-size: small;
  color: #A38787;
}

.config_sub1 {
  background-color:#f4ffea;
  border-top:1px solid #3399ff;
  border-bottom:1px solid #3399ff;
  border-left:1px solid #3399ff;
  border-right:1px solid #3399ff;
}

.config_sub2 {
  background-color:#f4ffea;
}

#foot{
    position:relative;
    width:800px;
    height:50px;
    background-color:#CC9999;
    border-style:none;
    clear:both;
}
