<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>はてブタ: <%= controller.action_name %></title>
  <style type="text/css">
    html,body{margin:0;padding:0}
    body{font: 76% arial,sans-serif}
    p{margin:0 10px 10px}
    a{display:block;color: #981793;padding:10px}
    div#header h1{}
    div#content p{line-height:1.4}
    div#navigation{}
    div#extra{background:#FF8539}
    div#footer{background: #333;color: #FFF}
    div#footer p{margin:0;padding:5px 10px}

    div#wrapper{float:left;width:100%}
    div#content{margin-right:200px}
    div#navigation{float:left;width:200px;margin-left:-200px}
    div#extra{clear:left;width:100%}
  </style>
</head>
<body>
<div id="container">
<div id="header"><%= image_tag ("/images/logo.png") %></div>
<div id="wrapper">
<div id="content">
<p style="color: green"><%= flash[:notice] %></p>
<%= yield %>
</div>
</div>
<div id="navigation">
<script type="text/javascript"><!--
google_ad_client = "pub-6681409822461545";
/* 120x240, 作成済み 09/07/09 */
google_ad_slot = "0466390879";
google_ad_width = 120;
google_ad_height = 240;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
<div id="extra">

</div>
<div id="footer">hatebuta, developed by Tsukasa Kobayashi and <a href="http://timeline.nifty.com/" title="@nifty TimeLine" target="_blank"><img src="http://timeline.nifty.com/images/logo_api_timeline_2.gif" border="0" /></a><a href="http://b.hatena.ne.jp/" title="はてなブックマーク" target="_blank"><img src="http://b.hatena.ne.jp/images/logo_center.gif" border="0" /></a></div>
</div>
</body>
</html>





